@mixin no-select {
    user-select: none;
}

@mixin hide-on-desktop {
    @include responsive-min(991) {
        display: none;
    }
}

@mixin swap-mobile {
    @include responsive(1366) {
        display: none;
    }
    &--mobile {
        display: none;
        @include responsive(1366) {
            display: flex;
            padding: 2rem 1rem;
            margin: 0;
        }
    }
}

@mixin product-technical {
    font-size: 1.6em;
    display: flex;
    margin-right: 1.5vw;
    align-items: center;
    @include responsive(1366) {
        font-size: 2em;
    }
}

@mixin border-radius-std {
    border-radius: 0.5rem;
}

@mixin catalog-look {
    border: 0.5rem solid var(--color-white);
    background-color: var(--color-light-gray);
}

@mixin unstyle-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

// --------------------------------------------
// -------------- MEDIA QUERRIES --------------
// --------------------------------------------
@mixin responsive($breakpoint) {
    @if $breakpoint==288 {
        @media only screen and (max-width: 18em) {
            @content;
        }
    }
    @if $breakpoint==396 {
        @media only screen and (max-width: 24.75em) {
            @content;
        }
    }
    @if $breakpoint==480 {
        @media only screen and (max-width: 30em) {
            @content;
        }
    }
    @if $breakpoint==575 {
        @media only screen and (max-width: 35.9em) {
            @content;
        }
    }
    @if $breakpoint==767 {
        @media only screen and (max-width: 47.875em) {
            @content;
        }
    }
    @if $breakpoint==850 {
        @media only screen and (max-width: 53.125em) {
            @content;
        }
    }
    @if $breakpoint==991 {
        @media only screen and (max-width: 61.875em) {
            @content;
        }
    }
    @if $breakpoint==1080 {
        @media only screen and (max-width: 67.5em) {
            @content;
        }
    }
    @if $breakpoint==1248 {
        @media only screen and (max-width: 78em) {
            @content;
        }
    }
    @if $breakpoint==1366 {
        @media only screen and (max-width: 85.35em) {
            @content;
        }
    }
    @if $breakpoint==1400 {
        @media only screen and (max-width: 87.5em) {
            @content;
        }
    }
    @if $breakpoint==1520 {
        @media only screen and (max-width: 95em) {
            @content;
        }
    }
    @if $breakpoint==1680 {
        @media only screen and (max-width: 105em) {
            @content;
        }
    }
    @if $breakpoint==1920 {
        @media only screen and (max-width: 120em) {
            @content;
        }
    }
}

// --------------------------------------------
// ------------ MIN-WIDTH QUERRIES ------------
// --------------------------------------------
@mixin responsive-min($breakpoint) {
    @if $breakpoint==991 {
        @media only screen and (min-width: 61.875em) {
            @content;
        }
    }
    @if $breakpoint==1400 {
        @media only screen and (min-width: 87.5em) {
            @content;
        }
    }
    @if $breakpoint==1520 {
        @media only screen and (min-width: 95em) {
            @content;
        }
    }
    @if $breakpoint==1800 {
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
    @if $breakpoint==2560 {
        @media only screen and (min-width: 162em) {
            @content;
        }
    }
}

// --------------------------------------------
// ------------ MIN-HEIGHT QUERRIES ------------
// --------------------------------------------
@mixin responsive-height($breakpoint) {
    @if $breakpoint==900 {
        @media only screen and (min-height: 56.25em) {
            @content;
        }
    }
    @if $breakpoint==1400 {
        @media only screen and (min-height: 87.5em) {
            @content;
        }
    }
}